compile = "swiftc -o main main.swift"
run = "./main"

hidden = ["main"]

[nix]
channel = "stable-21_11"

[languages.swift]
pattern = "**/*.swift"

[languages.swift.languageServer]
start = ["sourcekit-lsp"]
